data/
env/
jidp/jidp.egg-info/
kafka_2.12-2.2.0/
.vscode
jidp/jidp/__pycache__/
jidp/jidp/api/__pycache__/
jidp/jidp/views/__pycache__/
.gradle/
.idea/
.DS_store
scheduler/build/
*.jar
jidp/jidp.sock
*.npy
jidp/temporary/currentrain.npy
jidp/temporary/example.npy
*.out

