<!DOCTYPE html>
<!-- Template by Quackit.com -->
<!-- https://www.quackit.com/html/templates/simple_website_templates.cfm -->
<!-- Start working on the new template and fonts-->
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <title>JI-DataPipeline</title>

    <!-- Bootstrap Core CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS: You can use this stylesheet to override any Bootstrap styles and/or apply your own styles -->
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css">
    <!-- <link rel="stylesheet" href="{{url_for('static',filename='css/bootstrap-multiselect.css')}}"> -->
    <link href="{{url_for('static',filename='css/custom.css')}}" rel="stylesheet">

    <!-- javascripts -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.15/js/bootstrap-multiselect.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/echarts/4.6.0/echarts.min.js"></script>
    <script type="text/javascript" src="{{url_for('static',filename='js/rainfall.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static',filename='js/rainalert.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static',filename='js/taobao.js')}}"></script>
</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Logo and responsive toggle -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">
                	JI-DataPipeline
                </a>
            </div>
            <!-- Navbar links -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="#">Home</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

        <div class="container">
            <!-- Heading -->
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Anomaly Detection for Streaming Weather Data
                    </h1>
                </div>
            </div>
  
		    <div class="row">
            <div class="col-md-6 portfolio-item">
                <a href="#">
                    <img id="currrainfall" class="img-responsive" src = "" alt="No plot generated yet" width="70%" height="70%"  />
                </a>
                <h3>
                    <a>Most Recent Rainfall Heatmap</a>
                </h3>
                <p>This most recent rainfall heatmap is updated every one second.</p>
            </div>
            <div class="col-md-6 portfolio-item">
                <div id="anomalyalert" style="height:300%;width:75%;"></div>
                <h3>
                    <a>Anomaly Alert</a>
                </h3>
                <p>This plot updates the positions where average rainfall exceeds 15 every 30 seconds.</p>
            </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Anomaly Detection for Taobao Customer Data 
                    </h1>
                </div>
            </div>
            <div class="row">
            <div class="col-md-6 portfolio-item">
                <h2>Anomaly Customers</h2>
                <fieldset>
                <legend>Hotel Ratings: </legend>
                <label for="checkbox-1">2 Star</label>
                <input type="checkbox" name="checkbox-1" id="checkbox-1">
                <label for="checkbox-2">3 Star</label>
                <input type="checkbox" name="checkbox-2" id="checkbox-2">
                <label for="checkbox-3">4 Star</label>
                <input type="checkbox" name="checkbox-3" id="checkbox-3">
                <label for="checkbox-4">5 Star</label>
                <input type="checkbox" name="checkbox-4" id="checkbox-4">
                </fieldset>
            </div>
            <div class="col-md-6 portfolio-item">
                <h2>Anomaly Brands/</h2>
                <fieldset>
                    <legend>Select your interested Statistical Rules: </legend>
                    <label for="radio-1">New York</label>
                    <input type="radio" name="radio-1" id="radio-1">
                    <label for="radio-2">Paris</label>
                    <input type="radio" name="radio-1" id="radio-2">
                    <label for="radio-3">London</label>
                    <input type="radio" name="radio-1" id="radio-3">
                </fieldset>
            </div>
            </div>
        </div>
		<!-- Center Column -->
		<!--/container-fluid-->
        <footer>
            <div class="copyright">
                <div class="container">
                    <p>Copyright &copy; datapipeline.com 2019</p>
                </div>
            </div>
        </footer>
	
</body>

</html>
