<!DOCTYPE html>
<!-- Template by Quackit.com -->
<!-- https://www.quackit.com/html/templates/simple_website_templates.cfm -->
<!-- Start working on the new template and fonts-->
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <title>JI-DataPipeline</title>

    <!-- Bootstrap Core CSS -->
    <link href="{{url_for('static',filename='css/bootstrap.min.css')}}" rel="stylesheet">

    <!-- Custom CSS: You can use this stylesheet to override any Bootstrap styles and/or apply your own styles -->
    <link href="{{url_for('static',filename='css/custom.css')}}" rel="stylesheet">
    <link rel="stylesheet" href="{{url_for('static',filename='css/jquery-ui.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='css/bootstrap-multiselect.css')}}">
    

    <!-- javascripts -->
    <script type="text/javascript" src="{{url_for('static',filename='js/jquery.min.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static',filename='js/bootstrap.min.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static',filename='js/jquery-ui.min.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static',filename='js/bootstrap-multiselect.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static',filename='js/echarts.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static',filename='js/rainfall.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static',filename='js/rainalert.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static',filename='js/taobao.js')}}"></script>
</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Logo and responsive toggle -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">
                	JI-DataPipeline
                </a>
            </div>
            <!-- Navbar links -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="#">Home</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

        <div class="container">
            <!-- Heading -->
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Anomaly Detection for Streaming Weather Data
                    </h1>
                </div>
            </div>
  
		    <div class="row">
            <div class="col-md-6 portfolio-item">
                
                <a href="#">
                    <img id="currrainfall" class="img-responsive" src = "" alt="No plot generated yet" width="70%" height="70%"  />
                </a>
                <h3>
                    <a>Most Recent Rainfall Heatmap</a>
                </h3>
                <p>This most recent rainfall heatmap is updated every one second.</p>
            </div>
            <div class="col-md-6 portfolio-item">
                Current threshold: <input type="text" id="currbar" readonly style="border:0; color:#f6931f; font-weight:bold;">
                <div id="rainthreshold"></div>
                <div id="anomalyalert" style="height:300%;width:75%;"></div>
                <h3>
                    <a>Anomaly Alert</a>
                </h3>
                <p>This plot updates the positions where average rainfall exceeds 15 every 30 seconds.</p>
            </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Anomaly Detection for Taobao Customer Data 
                    </h1>
                </div>
            </div>
            <div class="row">
            <div class="col-md-6 portfolio-item">
                <h3><a>Anomaly Customers</a></h3>
                <fieldset>
                <b>Tick the rules that you are interested in:</b>
                <br>
                <input type="checkbox" id="c1"> Users who have clicked more than <input id="customer1" name="value"> brands recently.
                <br>
                <input type="checkbox" id="c2"> Users who have clicked more than <input id="customer2" name="value"> products recently.
                <br>
                <input type="checkbox" id="c3"> Users who have clicked more than <input id="customer3" name="value"> items recently.
                </fieldset>
                <br>
                <button id="submit1" class="ui-button ui-widget ui-corner-all">Update Rule</button>
                <br>
                <table width="90%" class="table">
                    <thead><tr> <th>Timestamp</th> <th>User ID</th> <th>Anomaly Reason</th> </tr></thead>
                    <tr> <th>20:10</th> <th>0000001</th> <th>Clicked more than 40 brands.</th> </tr>
                    <tr> <th>19:18</th> <th>0000002</th> <th>Clicked more than 30 products.</th> </tr>
                    <tr> <th>18:17</th> <th>0000003</th> <th>Clicked more than 10 categories.</th> </tr>
                </table>
            </div>
            <div class="col-md-6 portfolio-item">
                <h3><a>Anomaly Brands/Products/Categories</a></h3>
                <fieldset>
                <b>Tick the rules that you are interested in:</b>
                <br>
                <input type="checkbox" id="wantbrand"> Brand that has been viewed more than <input id="brandspin" name="value"> times recently.
                <br>
                <input type="checkbox" id="wantproduct"> Product that has been viewed more than <input id="productspin" name="value"> times recently.
                <br>
                <input type="checkbox" id="wantcategory"> Category that has been viewed more than <input id="categoryspin" name="value"> times recently.
                </fieldset>
                <br>
                <button id="submit2" class="ui-button ui-widget ui-corner-all">Update Rule</button>
                <br>
                <table width="90%" class="table">
                    <thead><tr> <th>Timestamp</th> <th>Case</th> <th>ID</th> </tr></thead>
                    <tr> <th>20:10</th> <th>Brand</th> <th>0023981</th> </tr>
                    <tr> <th>19:18</th> <th>Product</th> <th>8973984</th> </tr>
                    <tr> <th>18:17</th> <th>Category</th> <th>8724387</th> </tr>
                </table>
            </div>
            </div>
        </div>
		<!-- Center Column -->
		<!--/container-fluid-->
        <footer>
            <div class="copyright">
                <div class="container">
                    <p>Copyright &copy; datapipeline.com 2019</p>
                </div>
            </div>
        </footer>
	
</body>

</html>
